<ul class="slider" data-orbit>
  <li>
    <%= image_tag "Cendrillon-Slider.jpg" %>
    <div class="orbit-caption">
      Caption One.
    </div>
  </li>
  <li>
    <%= image_tag "OdC-Ensemble.jpg" %>
    <div class="orbit-caption">
      Caption Two.
    </div>
  </li>
  <li>
    <%= image_tag "OdC-Ensemble-3.jpg" %>
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>
  <li>
    <%= image_tag "Banner-FIgaro-2.jpg" %>
    <div class="orbit-caption">
      Caption Three.
    </div>
  </li>

</ul>