<div class="row">
	<div class="small-8 columns">
		<section id='body'>
		  <%=raw @page.content_for(:body) %>
		</section>
	</div>
	<div class="small-4 columns">
		<section id='side_body'>
		  <%=raw @page.content_for(:side_body) %>
		</section>
	</div>
</div>