<div id="footer-wrapper">
<div class="footer-menu">
<%= footer_menu.to_html %>
</div>

<div class="footer-menu">
	<ul>
		<li><a href="https://www.facebook.com/operadacamera"><i class="fa fa-facebook-square fa-2x"></i></a></li>
		<li><a href="https://twitter.com/OperadaCamera"><i class="fa fa-twitter-square fa-2x"></i></a></li>
		<li><a href="https://www.youtube.com/user/OperadaCameraMTL"><i class="fa fa-youtube-square fa-2x"></i></a></li>
		<li><a href="#" data-reveal-id="myModal"><i class="fa fa-envelope-o fa-2x"></i></a>

		<div id="myModal" class="reveal-modal" data-reveal>
          <div id="mail-chimp-form">
            <form action="//operadacamera.us3.list-manage.com/subscribe/post?u=d05a791575b7f868367118397&amp;id=7f1066cf2f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <label for="mce-EMAIL">Liste d'envoi / Mailing list</label>
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="courriel / email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px"><input type="text" name="b_d05a791575b7f868367118397_7f1066cf2f" tabindex="-1" value=""></div>
                <div><input type="submit" value="Abonnez-vous / Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button radius small"></div>
            </form>
            </div>
		</div></li>
	</ul>


<p><small>
  <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
</small></p>
</div>
</div>

